@font-face {
    font-family: 'WorkSans';
    src: url('assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Peso normal (regular) */
    font-style: normal;
}

/* Definir la fuente SemiBold */
@font-face {
    font-family: 'WorkSans';
    src: url('assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Peso SemiBold */
    font-style: normal;
}

/* Definir la fuente Bold */
@font-face {
    font-family: 'WorkSans';
    src: url('assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700; /* Peso bold */
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: WorkSans, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bg-image , .bg-color {
    flex: 1;
}

.bg-image {
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-size: cover;
}

.bg-color {
    background-color: #FAEEFF;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #351537;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.question:hover {
    color: #B423E8
}

.question:after {
    content: url(assets/images/icon-plus.svg);
    float: right;
}

.question.active:after {
    content: url(assets/images/icon-minus.svg);
}

.answer {
    color: #949394;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.answer p {
    margin-bottom: 24px;
    line-height: 1.4;
}


@media (max-width: 630px) {
    .title{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .card {
        width: 340px;
        overflow: hidden;
    }

    .question-container {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .question{
        font-size: 1rem;
    }
}